body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
.logo {
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  /* text-shadow: 0 0 5px #0fe, 0 0 10px #0fe, 0 0 20px #0fe, 0 0 40px #0fe; */
  text-shadow: #f3f4f6;
  background: linear-gradient(45deg, #1a1a1a, #2a2a2a);
  padding: 20px 40px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  transform: skew(-5deg);
  /* border: 2px solid #0fe; */
  border: 2px solid #f3f4f6;
  animation: pulse 2s infinite;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}

/* Hero section */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 40px;
}
.hero-text {
  max-width: 40%;
}
.hero button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
img {
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-boxes {
  display: flex;
  gap: 50px;
}
.box {
  width: 150px;
  height: 150px;
}
.innerbox {
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
}
